<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Payment Success</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Thank You!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Your payment was successful.</p>
      <p>We have scheduled your appointment. See you soon!</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" routerLink="/home">
    Go to Home
  </ion-button>
</ion-content>

