<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Payment Failed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Oops!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Unfortunately, your payment could not be processed.</p>
      <p>Please try again or contact support.</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="danger" routerLink="/checkout">
    Retry Payment
  </ion-button>
</ion-content>

